.mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column {
  flex: 0 0 125px;  // pra direita com 125px
}

.action-column-header { // nao ficou legal, pq afasta os outros nomes da coluna
  margin: 0 auto;
}


